.featured {
    .featured-top {
        .featured-arrows {

            display: flex;

            .slick-arrow {
                position: relative;
                left: 0;
                right: 0;
                height: 35px;
                width: 35px;
            }
        }

        .slick-prev:before,
        .slick-next:before {
            font-family: initial;
            font-size: 20px;
            color: $black;
        }

    }
}